*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f367a2;

}
.container{
    max-width: 500px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: #f2f3f5;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
.title_small
{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea{
    padding: 6px 10px;
    border: 1px solid  #f8f7fc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus,textarea:focus{
    outline-color: #ff0000;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: #ff0000;
    border :transparent solid;
    padding: 5px 8px;
    color:#f2f3f5;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: #036132;
    border: 2px solid #ff0000;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control {
    grid-column: 1/span 2;
}


.textarea_control textarea{
width:100%;
}
@media(max-width:756px)
{
    .textarea_control {
        grid-column: 1/span 1;
    }
    
    

};
